html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
}
.masthead {
  background-image: url("../img/beetle.svg"), url("../img/beetle.svg"), url("../img/waves.png");
  background-size: 75px auto, 75px auto, 100px auto;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: left top, right top, center 10px;
}
h1 {
  text-align: center;
  color: #512200;
  margin: 0;
  padding: 25px 0;
}
nav a {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 1em;
  color: white;
  background-color: #512200;
  opacity: 0.5;
  font-weight: bold;
  text-align: center;
  font-size: 0.9em;
}
a:hover {
  background-color: #512200;
  opacity: .75;
  color: white;
}
nav li {
  list-style-type: none;
  display: inline-block;
  float: left;
  overflow: hidden;
  text-align: center;
  width: 25%;
}
nav ol{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.rocks {
  width: 100%;
  position: relative;
}
.words {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0em;
  font-size: 1.5em;
  font-weight: bold;
  float: center;
  padding: 0 25px;
}
img {
  width: 100%;
  display: block;
}
figure {
  margin: 0;
}
.pics {
  clear: both;
  position: relative;
}
.ant {
  float: left;
  width: 50%;
}
.stag {
  float: right;
  width: 50%
}
.dung {
  float: left;
  width: 50%;
}
.tortoise {
  float: right;
  width: 50%
}
.btn1 {
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  background-color: #a8ae98;
  background-image: linear-gradient(to bottom, #6FC000, #388200);
  position: absolute;
  bottom: 10%;
  left: 21%;
  width: 60%;
  text-align: center;
  font-weight: bold;
  box-shadow: 0.2em 0.2em 2em black;
}
.btn2 {
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  background-color: #a8ae98;
  background-image: linear-gradient(to bottom, #6FC000, #388200);
  position: absolute;
  bottom: 10%;
  right: 21%;
  width: 60%;
  text-align: center;
  font-weight: bold;
  box-shadow: 0.2em 0.2em 2em black;
}
.btn3 {
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  background-color: #a8ae98;
  background-image: linear-gradient(to bottom, #6FC000, #388200);
  position: absolute;
  bottom: 10%;
  left: 21%;
  width: 60%;
  text-align: center;
  font-weight: bold;
  box-shadow: 0.2em 0.2em 2em black;
}
.btn4 {
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  background-color: #a8ae98;
  background-image: linear-gradient(to bottom, #6FC000, #388200);
  position: absolute;
  bottom: 10%;
  right: 21%;
  width: 60%;
  text-align: center;
  font-weight: bold;
  box-shadow: 0.2em 0.2em 2em black;
}

.ant-beetle {
  position: relative;
}
.stag-beetle {
  position: relative;
}
.dung-beetle {
  position: relative;
}
.tortoise {
  position: relative;
}
div {
  position: relative;
}
footer {
  background-color: #a79181;
  text-align: center;
  width: 100%;
}
.graphic {
  width: 10%;
  margin: 45%;
  padding: 0;
}
